<h5 class="my-tracks__ready">Ready to jump back in, <%= current_user.first_name %>?</h5>

<div class="container" style="max-width: 900px;">
  <div class="row">
    <% @assignments.each do |assignment| %>
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
      <%= link_to dashboard_my_tracks_path do %>
      <div class="track-card mb-3">
        <h3><%= assignment.track.title %></h3>
        <div class="track-card__score">
        <% if assignment.completed? %>
          <i class="far fa-check-circle completed"></i>
          <span>All steps completed</span>
        <% else %>
          <i class="far fa-circle"></i>
          <span><%= "#{assignment.num_of_steps_completed}/#{assignment.num_of_steps} #{"step".pluralize(assignment.num_of_steps)} completed" %></span>
        <% end %>
        </div>
        <p class="track-card__date">Assigned on: <%= assignment.created_at.strftime("%d-%m-%Y") %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
