<div class="container">
  <!--
  <h4>Tracks you created</h4>
  <div class="row mb-3">
    <% @tracks.where(user: current_user).each do |track| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <div class="card-body d-flex flex-column justify-content-between align-items-center">
            <p><%= link_to track.title, edit_track_path(track)%></p> 
            <p><%= link_to 'Delete', track_path(track), method: :delete, data: {confirm: 'Are you sure?'}, id: 'delete-text' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  -->

  <h4>Tracks others created</h4>
  <div class="row mb-3">
    <% @tracks.where.not(user: current_user).each do |track| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <div class="card-body d-flex flex-column justify-content-between align-items-center">
            <%= track.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container w-60">
    <h4>Add a track</h4>
    <%= simple_form_for(@track) do |f| %>
      <%= f.input :title, input_html: { maxlength: '18'}%>
      <%= f.button :submit, id: 'create-text' %>
    <% end %>
  </div>
</div>