<h3>Here are all your tracks</h3>
<% @tracks.each do |track| %> 
  <p>
    <%= link_to track.title, track_path(track) %>
    <%= link_to 'Delete', track_path(track), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>

<h3>Create a new track</h3>
<% if policy(Track).create? %>
  <%= simple_form_for(@track) do |f| %>
    <%= f.input :title, input_html: { maxlength: '18' } %>
    <%= f.button :submit %>
  <% end %>
<% end %>
