<div class="container mt-3">
  <h2 class="text-center"><%= @assignment.track.title %></h2>
  <div class="assignment-container d-flex">
    <div class="assignment-chart">
      <div class="chart-wrapper">
        <canvas id="myChart"></canvas>
      </div>
      <p>90% completed</p>
    </div>

    <div class="assignment-steps">
      <% @assignment.step_scores.order(created_at: :asc).each_with_index do |step_score, index| %>
        <div class="assignment-step">
          <div class="assignment-step__score">
            <i class="far fa-<%= step_score.completed_at.nil? ? "" : "dot-" %>circle"></i>
            <% unless index == (@assignment.step_scores.length - 1) || step_score.completed_at.nil? %>
              <div class="assignment-step__score__link"></div>
            <% end %>
          </div>
          <div class="assignment-step__content">
            <h3><%= step_score.step.title %></h3>
            <%= media_icon step_score.step %>
            <div class="assignment-step__content__buttons">
              <% if step_score.step.media.attached? %>
                <%= media_link_content step_score.step %>
              <% end %>
              <%= link_to assignment_step_score_path(@assignment, step_score), class: "btn-mark-as", method: :patch do %>
                <%= step_score.completed_at.nil? ? "Mark as done" : "Mark as undone" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>