<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= is_home ? "navbar-home" : '' %>">
  <div class="navbar-brand">
  <%= link_to root_path do %>
    <%= image_tag "logo.png" %>
  <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if is_home %>
          <li class="nav-item">
          <%= link_to "Dashboard", tracks_path, class: "nav-link nav-btn-dashboard" %>
          </li>
        <% else %>
          <li class="nav-item">
          <span class="nav-link nav-link__username"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
          </li>
          <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-power-off"></i>
          <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
