<div class="navbar navbar-expand navbar-light navbar-lewagon <%= is_home ? "navbar-home" : '' %>">
  <div class="navbar-brand">
  <%= link_to root_path do %>
    <%= image_tag "logo.png" %>
  <% end %>
  </div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if is_home %>
          <li class="nav-item">
          <%= link_to "Dashboard", dashboard_my_tracks_path, class: "nav-link nav-btn-dashboard" %>
          </li>
        <% else %>
          <li class="nav-item">
          <span class="nav-link nav-link__username"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
          </li>
          <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-power-off"></i>
          <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link login" do %>
            <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
