<!DOCTYPE html>
<html>
  <head>
    <title>Nubi | Smoother onboarding experience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar', is_home: params[:action] == 'home' %>

    <% if dashboard_view?(params) %>
      <div class="dashboard-container">
        <div class="dashboard-sidebar">
          <%= render 'shared/sidebar', tab: sidebar_active_link(params) %>
        </div>
        <div class="dashboard-main">
          <%= render 'shared/back_btn' %>
          <%= yield %>
        </div>
      </div>
      <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
