<!DOCTYPE html>
<html>
  <head>
    <title>Nubi | Smoother onboarding experience</title>
    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar', is_home: params[:action] == 'home', tab: navbar_active_link(params) %>

    <% if dashboard_view?(params) %>
      <div class="dashboard-container">
        <div class="dashboard-sidebar">
          <%= render 'shared/sidebar', tab: sidebar_active_link(params) %>
        </div>
        <div class="dashboard-main">
          <%= render 'shared/back_btn' %>
          <%= yield %>
        </div>
      </div>
      <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
